<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
  <title>Login &mdash; Habeii</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href=" {% static 'ad_mannager/assets/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href=" {% static 'ad_mannager/assets/modules/fontawesome/css/all.min.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href=" {% static 'ad_mannager/assets/modules/bootstrap-social/bootstrap-social.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href=" {% static 'ad_mannager/assets/css/style.css' %}">
  <link rel="stylesheet" href=" {% static 'ad_mannager/assets/css/components.css' %}">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <a href="{% url 'post:index' %}" width="100" class="shadow-light rounded-circle">Habeii</a>
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>ログイン</h4></div>

              <div class="card-body">
                <form method="POST" class="needs-validation" novalidate="">
                  {% csrf_token %}

                  {% if next %}
                      <input type="hidden" name="next" value="{{ next }}">
                  {% elif request.GET.next %}
                      <input type="hidden" name="next" value="{{ request.GET.next }}">
                  {%else%}
                      <input type="hidden" name="next" value="/ad_mannager/">
                  {% endif %}

                  <div class="form-group">
                    <label for="username">アカウント名</label>
                    {{form.username}}
                    <div class="invalid-feedback">
                      アカウント名を入力してください
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                    	<label for="password" class="control-label">パスワード</label>
                    </div>
                    {{form.password}}
                    <div class="invalid-feedback">
                      パスワードを入力してください！
                    </div>
                  </div>
                  {% if mess %}
                      <p style="color: red;">{{mess}}</p>
                  {% endif %}
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      ログイン
                    </button>
                  </div>
                </form>
                
              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              アカウントを持っていませんか？私は気にしない！
            </div>
            <div class="simple-footer">
              Copyright &copy; ファムタインハウ 2022
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="{% static 'ad_mannager/assets/modules/jquery.min.js' %}"></script>
  <script src="{% static 'ad_mannager/assets/modules/popper.js' %}"></script>
  <script src="{% static 'ad_mannager/assets/modules/tooltip.js' %}"></script>
  <script src="{% static 'ad_mannager/assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ad_mannager/assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'ad_mannager/assets/modules/moment.min.js' %}"></script>
  <script src="{% static 'ad_mannager/assets/js/stisla.js' %}"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="{% static 'ad_mannager/assets/js/scripts.js' %}"></script>
  <script src="{% static 'ad_mannager/assets/js/custom.js' %}"></script>
</body>
</html>